<%=
  content_tag :div,
              id: dom_id(technology),
              class: "inline-flex flex-col w-60 rounded justify-between m-3 p-1 hover:bg-slate-100" do
%>
  <%=
    content_tag :div,
                class: "inline-flex flex-col justify-start items-center w-full grow" do
  %>
    <p class="m-8"><%= technology.name %></p>
  <% end %>

  <%=
    button_to "Edit",
              edit_dashboard_technology_path(technology),
              class: "px-3 py-2 rounded bg-blue-500 hover:bg-blue-600 text-white",
              form_class: "m-0 p-0 inline-flex items-center justify-center"
  %>
<% end %>